<div>
	<div class="clearfix pages-header">
		<div class="col-xs-2 pages-title">Project Edit</div>
		<div class="col-xs-4">

		</div>

	</div>



	<div>
		
<form>
	
<div class="clearfix">
<div class="col-xs-6">
	
	<div class="form-group">
			<input type="text" class="form-control" placeholder="Title"/>
	</div>

	<div class="form-group">
		<textarea class="form-control" placeholder="Description..."></textarea>
	</div>
	<button class="btn btn-success">Save</button>
	<a href="#projects" class="btn btn-default">Cancel</a>
</div>
<div class="col-xs-6">
	<div class="form-group">
		<p>
		<input type="text" class="form-control" placeholder="Teams" />
		</p>
		
		<div>
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
		</div>
	</div>
</div>
	</div>

</form>

<hr>

<h4>Timeline</h4>

<div id="timelogs" >

		<div class="timeline-group-title">Today</div>

		<div class="clearfix" style="position: relative;">
			<div class=" timeline-log">
				<div class="timeline-bullets bullets-c1">
					<div class="col-sm-1 col-xs-1 timline-time">1h 22mm</div>
					<div class="col-sm-9 col-xs-9 timeline-caption">Task 1 reassign <a href="#">#design</a> <a href="#">#development</a> <small>Alphasys</small></div>
					<div class="col-sm-1 col-xs-1 timeline-total">$5/hr</div>
					<div class="col-sm-1 col-xs-1 timeline-action"><i class="fa fa-cog pull-right"></i></div>
				</div>
			</div>
		</div>

		<div class="clearfix" style="position: relative;">
			<div class=" timeline-log">
				<div class="timeline-bullets bullets-c2">
					<div class="col-sm-1 col-xs-1 timline-time">1h 22mm</div>
					<div class="col-sm-9 col-xs-9 timeline-caption">Task 2 mark complete <a href="#">#design</a> <a href="#">#development</a> <small>Alphasys</small></div>
					<div class="col-sm-1 col-xs-1 timeline-total">$5/hr</div>
					<div class="col-sm-1 col-xs-1 timeline-action"><i class="fa fa-cog pull-right"></i></div>
				</div>
			</div>
		</div>

		<div class="clearfix" style="position: relative;">
			<div class=" timeline-log">
				<div class="timeline-bullets bullets-c1">
					<div class="col-sm-1 col-xs-1 timline-time">1h 22mm</div>
					<div class="col-sm-9 col-xs-9 timeline-caption">Marvin commented on Task 1 <a href="#">#design</a> <a href="#">#development</a> <small>Alphasys</small></div>
					<div class="col-sm-1 col-xs-1 timeline-total">$5/hr</div>
					<div class="col-sm-1 col-xs-1 timeline-action"><i class="fa fa-cog pull-right"></i></div>
				</div>
			</div>
		</div>

		<div class="clearfix" style="position: relative;">
			<div class=" timeline-log">
				<div class="timeline-bullets">
					<div class="col-sm-1 col-xs-1 timline-time">1h 22mm</div>
					<div class="col-sm-9 col-xs-9 timeline-caption">Working on illustrator for gravity app development <a href="#">#design</a> <a href="#">#development</a> <small>Alphasys</small></div>
					<div class="col-sm-1 col-xs-1 timeline-total">$5/hr</div>
					<div class="col-sm-1 col-xs-1 timeline-action"><i class="fa fa-cog pull-right"></i></div>
				</div>
			</div>
		</div>


		<div class="timeline-group-title">Yesterday</div>


		<div class="clearfix" style="position: relative;">
			<div class=" timeline-log">
				<div class="timeline-bullets bullets-c2">
					<div class="col-sm-1 col-xs-1 timline-time">1h 22mm</div>
					<div class="col-sm-9 col-xs-9 timeline-caption">Working on illustrator for gravity app development <a href="#">#design</a> <a href="#">#development</a> <small>Alphasys</small></div>
					<div class="col-sm-1 col-xs-1 timeline-total">$5/hr</div>
					<div class="col-sm-1 col-xs-1 timeline-action"><i class="fa fa-cog pull-right"></i></div>
				</div>
			</div>
		</div>

		<div class="clearfix" style="position: relative;">
			<div class=" timeline-log">
				<div class="timeline-bullets timeline-bullets-c1">
					<div class="col-sm-1 col-xs-1 timline-time">1h 22mm</div>
					<div class="col-sm-9 col-xs-9 timeline-caption">Working on illustrator for gravity app development <a href="#">#design</a> <a href="#">#development</a> <small>Alphasys</small></div>
					<div class="col-sm-1 col-xs-1 timeline-total">$5/hr</div>
					<div class="col-sm-1 col-xs-1 timeline-action"><i class="fa fa-cog pull-right"></i></div>
				</div>
			</div>
		</div>

		<div class="clearfix" style="position: relative;">
			<div class=" timeline-log">
				<div class="timeline-bullets">
					<div class="col-sm-1 col-xs-1 timline-time">1h 22mm</div>
					<div class="col-sm-9 col-xs-9 timeline-caption">Working on illustrator for gravity app development <a href="#">#design</a> <a href="#">#development</a> <small>Alphasys</small></div>
					<div class="col-sm-1 col-xs-1 timeline-total">$5/hr</div>
					<div class="col-sm-1 col-xs-1 timeline-action"><i class="fa fa-cog pull-right"></i></div>
				</div>
			</div>
		</div>


		<div class="timeline-group-title">January 2015</div>

		<div class="clearfix" style="position: relative;">
			<div class=" timeline-log">
				<div class="timeline-bullets">
					<div class="col-sm-1 col-xs-1 timline-time">1h 22mm</div>
					<div class="col-sm-9 col-xs-9 timeline-caption">Working on illustrator for gravity app development <a href="#">#design</a> <a href="#">#development</a> <small>Alphasys</small></div>
					<div class="col-sm-1 col-xs-1 timeline-total">$5/hr</div>
					<div class="col-sm-1 col-xs-1 timeline-action"><i class="fa fa-cog pull-right"></i></div>
				</div>
			</div>
		</div>

	</div>

	</div>

</div>