<div>

	<div class="col-xs-6">
	<div class="" style="position: absolute;top: 70%; bottom: auto;left: 50%; transform: translateY(-50%) translateX(-50%);    color: #bbb;font-size: 18px;font-weight: 100;">{{ '43/50' }}</div>
	<div
	    round-progress
	    max="50"
	    current="43"
	    color="#45ccce"
	    bgcolor="#eaeaea"
	    radius="100"
	    stroke="30"
	    semi="true"
	    rounded="false"
	    clockwise="false"
	    responsive="true"
	    duration="800"
	    animation="easeInOutQuart"></div>	
	</div>
	<div class="col-xs-6">
	<div class="" style="position: absolute;top: 70%; bottom: auto;left: 50%; transform: translateY(-50%) translateX(-50%);    color: #bbb;font-size: 18px;font-weight: 100;">{{ '3/5' }}</div>
	<div
	    round-progress
	    max="50"
	    current="23"
	    color="#45ccce"
	    bgcolor="#eaeaea"
	    radius="100"
	    stroke="30"
	    semi="true"
	    rounded="false"
	    clockwise="false"
	    responsive="true"
	    duration="800"
	    animation="easeInOutQuart"></div>	
	</div>
	




</div>