<div>

<div class="clearfix pages-header">
	<div class="col-xs-2 pages-title">Projects</div>
	<div class="col-xs-4 pages-filter"><input type="text" class="form-control input-sm" placeholder="Seach..." />
	</div>
	<div class="col-xs-6">
		<a href="#project/add"class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i> ADD PROJECT</a>
	</div>
</div>

<div class="list">
	
	<div class="list-items clearfix">
		<div class="col-xs-1 list-text-valign list-bullets"></div>
		<div class="col-xs-5">
			<a href="#project/edit" class="list-title">Gravity Forms</a>
			<small class="list-subtitle">Marvin Ayaay</small>
		</div>

		<div class="col-xs-2">
			<span class="list-title">123 <small class="list-subtitle">hrs</small></span>
			<small class="list-subtitle">Logged</small>
		</div>
		<div class="col-xs-3">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
		</div>
		<div class="col-xs-1 list-text-valign"><i class="fa fa-cog"></i></div>
	</div>

	<div class="list-items clearfix">
		<div class="col-xs-1 list-text-valign list-bullets bullets-c1"></div>
		<div class="col-xs-5">
			<a href="#project/edit" class="list-title">Asset Tracker</a>
			<small class="list-subtitle">Marvin Ayaay</small>
		</div>

		<div class="col-xs-2">
			<span class="list-title">13 <small class="list-subtitle">hrs</small></span>
			<small class="list-subtitle">Logged</small>
		</div>
		<div class="col-xs-3">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
		</div>
		<div class="col-xs-1 list-text-valign"><i class="fa fa-cog"></i></div>
	</div>

	<div class="list-items clearfix">
		<div class="col-xs-1 list-text-valign list-bullets bullets-c2"></div>
		<div class="col-xs-5">
			<a href="#project/edit" class="list-title">Ruaven</a>
			<small class="list-subtitle">Marvin Ayaay</small>
		</div>

		<div class="col-xs-2">
			<span class="list-title">99 <small class="list-subtitle">hrs</small></span>
			<small class="list-subtitle">Logged</small>
		</div>
		<div class="col-xs-3">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
		</div>
		<div class="col-xs-1 list-text-valign"><i class="fa fa-cog"></i></div>
	</div>

	<div class="list-items clearfix">
		<div class="col-xs-1 list-text-valign list-bullets bullets-c4"></div>
		<div class="col-xs-5">
			<a href="#project/edit" class="list-title">POI</a>
			<small class="list-subtitle">Marvin Ayaay</small>
		</div>

		<div class="col-xs-2">
			<span class="list-title">32 <small class="list-subtitle">hrs</small></span>
			<small class="list-subtitle">Logged</small>
		</div>
		<div class="col-xs-3">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
		</div>
		<div class="col-xs-1 list-text-valign"><i class="fa fa-cog"></i></div>
	</div>

	<div class="list-items clearfix">
		<div class="col-xs-1 list-text-valign list-bullets bullets-c5"></div>
		<div class="col-xs-5">
			<a href="#project/edit" class="list-title">BugTracker</a>
			<small class="list-subtitle">Marvin Ayaay</small>
		</div>

		<div class="col-xs-2">
			<span class="list-title">75 <small class="list-subtitle">hrs</small></span>
			<small class="list-subtitle">Logged</small>
		</div>
		<div class="col-xs-3">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
			<img src="images/avatar.jpg" class="img-circle" style="width: 30px;max-width: 100%">
		</div>
		<div class="col-xs-1 list-text-valign"><i class="fa fa-cog fa-right"></i></div>
	</div>


















</div>


</div>